/* DEFINING VARIABLES */
:root {
  --dark-blue: #111D57;
  --light-blue: #e6f2ff;
  --lighter-blue: #e6e6ff;
  --lightest-blue: #f9fbff;
}
/* END DEFINING VARIABLES */


/* GENERAL PAGE STYLES */
body {
  box-sizing: border-box;
  /* background-image: url("../img/blue_background.jpg"); /* source: https://commons.wikimedia.org/wiki/File:Abstract_blue_background7.jpg */ */
  background-image: url("https://s22409.pcdn.co/wp-content/uploads/2015/07/gog_shutterstock.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 14pt;
  font-family: "Helvetica";
}
/* END GENERAL PAGE STYLES */


/* NAVBAR */
.navbar {
  border: none;
}
.navbar-brand-image {
  height: 50px;
}
/* END NAVBAR */


/* MAIN PAGE */
.main-page {
  background-color: var(--lighter-blue);
  margin-top: 55px;
  border-radius: 5px;
  box-shadow: 4px 3px 9px var(--dark-blue);
}
/* END MAIN PAGE */


/* LANGUAGE BUTTON RIBBON */
.languageButtonRibbon {
  position: fixed;
  right: 0;
  top: 65px;
  z-index: 1;
}
.languageButtonRibbon button {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: none;
  padding: 12px;
  font-size: 16px;
  font-family: cursive;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 4px 3px 9px var(--dark-blue);
}
/* END LANGUAGE BUTTON RIBBON */


/* SHARED STYLES */
.page-header {
  font-size: 18pt;
  border-bottom: 2px solid var(--dark-blue);
}
/* END SHARED STYLES */


/* ABOUT PAGE */
.about-page
.about-page-bill-image {
  padding: 10px;
}
.about-page-bill-image img {
  width: 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* END ABOUT PAGE */


/* FOOTER */
.page-content { /* has to do with footer ... do not touch */
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
  background-color: var(--dark-blue);
}
.footer span {
  color: var(--light-blue);
  position: relative;
  left: 20px;
  top: 15px;
}
/* END FOOTER */


/* BOOTSTRAP OVERRIDES */
.navbar-default {
  background-color: var(--dark-blue);
  border-color: var(--light-blue);
}
.navbar-default .navbar-nav > li > a {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  color: var(--light-blue);
  transition: background-color .5s, color .5s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: var(--light-blue);
  color: black;
  border-radius: 2px;
}
/* END BOOTSTRAP OVERRIDES */


/* GENERAL STYLES */
.align-center {
  text-align: center;
}
/* END GENERAL STYLES */


/* ANIMATIONS */
.animate-content {
  animation: 500ms slide-content-on-change infinite linear;
}
@keyframes slide-content-on-change {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* END ANIMATIONS */
